/* margin, padding 초기화 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans' sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding: 2.5%;
  background-color: #212529;
  /* overflow가 생기면 스크롤 생기게! */
  overflow: scroll;
}

.map {
  flex-basis: 80%;
}

.item {
  flex-basis: 20%;
  margin-bottom: 20px;
}

.drone-image {
  cursor: pointer;
  background-color: #ff574a;
  text-align: center;
  /* color는 폰트 색깔을 의미 */
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s;
}
/* drone-image 마우스를 hover할 때 */
.drone-image:hover {
  background-color: #fff;
  color: #ff574a;
}

/* 드론 이미지 지정 */
.drone-image img {
  width: 72px;
  height: 62px;
  border-radius: 4px;
}

.drone-image h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.drone-image p {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 14px;
}

.map {
  position: relative;
}
/* absolute를 사용하고 싶으면 부모태그 position이 relative 이어야 함 */
.drone-init {
  width: 150px;
  z-index: 5;
  position: absolute;
  right: 30px;
  top: 20px;
}

.drone-init a {
  background-color: #5f69dcd5;
  padding: 5%;
  /* a태그 가로 선 제거 */
  text-decoration: none;
  border-radius: 6px;
  transition: 0.1s;
}
.drone-init a:hover {
  background-color: #584de4;
}

.drone-init span {
  /* 글짜 가운데 정렬 */
  text-align: center;
  font-size: 15px;
  color: #fff;
}

/* 드론 상세정보 페이지 css */

.driving-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drone-info {
  flex-basis: 20%;
}

.driving-logs {
  flex-basis: 70%;
}
